.img{
    width: 250px;
    height:280px ;
}

.img1{
    width: 200px;
    height: 250px;
}
.span{
    margin-left: 70px;
    font-size: 18px;
    color: #0000ff;
}
.span1{
    margin-left: 130px;
    font-size: 18px;
    color: #0000ff;
}
.span2{
    margin-left: 130px;
    font-size: 18px;
    color: #0000ff;
}
.span3{
    margin-left: 130px;
    font-size: 18px;
    color: #0000ff;
}
