.head{
    text-align: center;
    color: #00ffff;

}
.sa{
    height: 25px;
    text-align: center;
}
.sub{
    height: 30px;
    width: 80px;
    color: #ffa500;
    background-color: #7fff00;
    

}

.head1{
    text-align: center;
}